.purchaseBtn {
    background: #00ee00;
    padding: 10px;
    border: 4px solid #00ee00;
    border-radius: 8px;
    width: 25ch;
    font-weight: bold;
}

.purchaseBtn:hover {
    border: 4px solid black;
}

.purchase {
    text-align: center;
}

.tom {
    margin: 0 auto;
    text-align: center;
}

.tom h3 {
    font-size: 26px;
}