/* Importere Fonts */
@font-face {
    font-family: 'Alegreya';
    src: url('../Fonts/Alegreya/Alegreya-Bold.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Fjord-One';
    src: url('../Fonts/FjordOne/FjordOne-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Maven-Pro';
    src: url('../Fonts/MavenPro/MavenPro-Regular.ttf');
    font-weight: 400;
}

body {
    background-color: #eee;
}

div.logo {
    margin: 12px auto;
    text-align: center;
}

img.logo {
    width: 70%;
    max-width: 800px;
}

h1 {
    padding: 0;
    margin: 12px 0px;
    text-align: center;
    display: block;
    font-family: 'Alegreya', Fallback, sans-serif;
    font-size: 36px;
}

nav {
    background: #ddd;
    padding: 24px;
    width: 100%;
    margin-left: 0;
    position: fixed;
}

.currentSite {
    font-size: 2rem;
}

nav a {
    display: inline-block;
    padding: 6px;
    border: none;
    border-radius: 8px;
    margin: auto;
    font-weight: bolder;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: underline;
    color: black;
    font-family: 'Fjord-One', Fallback, sans-serif;
}

nav a:hover {
    /*Bakgrunn gradient*/
    background: hsla(120, 100%, 50%, 1);
    background: linear-gradient(0deg, hsla(120, 100%, 50%, 1) 0%, hsla(180, 100%, 50%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(120, 100%, 50%, 1) 0%, hsla(180, 100%, 50%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(120, 100%, 50%, 1) 0%, hsla(180, 100%, 50%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00ff00", endColorstr="#00ffff", GradientType=1 );
} 