/* Importere Fonts */
@font-face { /* Headers */
    font-family: 'Alegreya';
    src: url('../Fonts/Alegreya/Alegreya-Bold.ttf');
    font-weight: 400;
}

@font-face { /* Buttons & larger text */
    font-family: 'MavenPro';
    src: url('../Fonts/MavenPro/MavenPro-Regular.ttf');
    font-weight: 400;
}

@font-face { /* Normal text */
    font-family: 'FjordOne';
    src: url('../Fonts/FjordOne/FjordOne-Regular.ttf');
    font-weight: 400;
}

nav::selection {
    background-color: none;
}

h1 {
    padding: 0;
    margin: 12px auto;
    text-align: center;
    display: block;
    font-family: 'Alegreya', Fallback, sans-serif;
    font-size: 36px;
    position: relative;
    bottom: 85px;
    z-index: 1000 !important;
    max-width: 400px;
}

header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 305px;
}

header h1 {
    position: fixed;
    top: 20px;
    height: 50px;
    margin: 0;
}

h2 {
    padding: 0px;
    margin: 12px 8px;
    display: inline-block;
    font-family: "MavenPro";
    font-size: 1.6rem;
    font-size: 28px;
}

p {
    font-size: 2rem;
}

label, input, p {
    font-family: "FjordOne", Fallback, sans-serif;
}

body {
    background-color: #eee;
    z-index: 1;
}

.d-none {
    display: none !important;
}

div.products {
    display: inline-block;
    color: black;
    z-index: 10;
    position: relative;
    padding: 24px;
    z-index: 5;
    margin: 0S auto;
    text-align: center;
}

div.itemSlot {
    width: 200px;
    background-color: #ddd;
    display: inline-block;
    padding: 10px 50px;
    margin: 25px;
    text-align: center;
    border: solid 4px black;
    border-radius: 16px;
    height: 386px;
    top: 0;
}

.rocket_launcher {
    max-height: 110px;
}

div.itemSlot img {
    height: 150px;
    border-radius: 16px;
    padding: 8px;
    cursor: pointer;
}

div.itemSlot img:hover {
    background-color: white;
}

div.itemSlot #name:hover {
    /*Bakgrunn gradient */
    border-radius: 12px;
    background-color: white;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

nav {
    background: #ddd;
    padding: 24px;
    width: 100%;
    margin-left: 0;
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom: 4px solid black;
}

.currentSite {
    font-size: 1.5rem;
}

nav a {
    display: inline-block;
    padding: 6px;
    border: none;
    border-radius: 8px;
    margin: auto;
    font-weight: bolder;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: underline;
    color: black;
    font-family: 'MavenPro', Fallback, sans-serif;
}

nav a:hover {
    /*Bakgrunn gradient */
    background: hsla(120, 100%, 50%, 1);
    background: linear-gradient(0deg, hsla(120, 100%, 50%, 1) 0%, hsla(180, 100%, 50%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(120, 100%, 50%, 1) 0%, hsla(180, 100%, 50%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(120, 100%, 50%, 1) 0%, hsla(180, 100%, 50%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00ff00", endColorstr="#00ffff", GradientType=1 );
}