div.login {
    background-color: #ddd;
    max-width: 700px;
    color: black;
    z-index: 9;
    position: relative;
    padding: 24px;
    margin: 0 auto;
    border-radius: 16px;
    padding-bottom: 0px;
}

div.login input {
    border-radius: 8px;
    font-size: 18px;
}

div.login label {
    font-size: 18px;
}

.loginForm input {
    padding: 5px;
}

.loginForm label {
    margin: 8px;
}

.inputField {
    position: relative;
    right: 0px;
}

.passord {
    position: relative;
    left: 28px;
}

.pwErr {
    color: red;
}

.pwValid {
    color: #11ff11;
}

.bottomErr {
    padding-bottom: 8px;
}

.d-none {
    display: none;
}