.popupProduct {
    background-color: #ddd;
    width: 50%;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    border: 4px solid black;
    border-radius: 16px;
    top: 25px;
    height: fit-content;
}

.popupProduct .image {
    width: 90%;
    max-width: 400px;
    border-radius: 16px;
    position: relative;
    bottom: 100px;
}

.closeBtn {
    border: 6px solid red;
    border-radius: 8px;
    width: 2ch;
    background-color: red;
    font-weight: bold;
    position: relative;
    left: 535px;
    bottom: 75px;
}

.closeBtn:hover {
    border-color: black;
}

.addToCart {
    font-size: 18px;
    font-weight: bold;
    border: 6px solid #00ee00;
    background-color: #00ee00;
    border-radius: 16px;
    padding: 12px;
    position: relative;
    bottom: 15px;
}

.inCartBtn {
    background-color: red;
    border-color: red;
}

.addToCart:hover {
    border-color: black;
}

.category {
    position: relative;
    bottom: 100px;
}

.description {
    position: relative;
    bottom: 100px;
}

.categories {
    background-color: #ddd;
    padding: 16px;
    align-items: center;
    text-align: center;
    border-bottom: 4px solid black;
}

.categories::selection {
    background-color: none;
}

.categories .search {
    padding: 4px;
    border-radius: 8px;
    font-size: 16px;
}

.categories h3 {
    font-size: 24px;
    font-weight: bolder;
}

.categories * {
    display: inline-block;
    margin: 0px 4px;
}

.categories button {
    padding: 8px;
    border-radius: 8px;
    border: 4px solid black;
    font-weight: bold;
    background: white;
    cursor: pointer;
}

.categories button:hover {
    /*Bakgrunn gradient */
    background: #00ff00;
    background: linear-gradient(0deg, #00ff00 0%, #00ffff 100%);
    background: -moz-linear-gradient(0deg, #00ff00 0%, #00ffff 100%);
    background: -webkit-linear-gradient(0deg, #00ff00 0%, #00ffff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00ff00", endColorstr="#00ffff", GradientType=1 );
}