nav {
    z-index: 10;
}

div.products {
    display: inline-block;
    color: black;
    z-index: 10;
    position: relative;
    padding: 24px;
    z-index: 5;
}

div.itemSlot {
    width: 200px;
    background-color: #ddd;
    display: inline-block;
    padding: 10px 50px;
    margin: 25px;
    text-align: center;
    border: solid 4px black;
    border-radius: 16px;
    height: 386px
    top 0;
}

div.itemSlot img {
    height: 150px;
}

.name:hover {
    /*Bakgrunn gradient */
    border-radius: 12px;
    background-color: white;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}